@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // Default: light
    --primary: #ff0000;
    --secondary: #f44336;
    --contrast-text: #000000;
    --background: #f5f5f5;
    --gradient-img: linear-gradient(to top, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
    --horizontal-gradient-img: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
    // Circle Rate Progress
    --crp-circle1-color: #191919;
    --crp-color: #04fc43;
  }
  .dark {
    --primary: #ff0000;
    --secondary: #f44336;
    --contrast-text: #ffffff;
    --background: #000000;
    --background-paper: #131313;
    --gradient-img: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --horizontal-gradient-img: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button,
input,
textarea,
[tabIndex] {
  outline: none;
  border: none;
}
