@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // Default: light
    --primary: #ff0000;
    --secondary: #f44336;
    --contrast-text: #000000;
    --background-default: #f5f5f5; // for body (body tag or App component)
    --background-paper: #ffffff; // for header, footer, ...
    --overlay-to-top: linear-gradient(to top, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
    --overlay-to-right: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
    --overlay-to-left: linear-gradient(to left, rgba(245, 245, 245, 0.7), rgba(0, 0, 0, 0)); // for mobile menu
    --nav-hover: #0000001a;
    --bg-sidebar-menu: #fff;
    // Circle Rate Progress
    --crp-circle1-color: #19191926;
    --crp-color: #04fc43;
    // Linear Progress
    --lp-bg-image: linear-gradient(
      to right,
      transparent 50%,
      currentColor 50%,
      currentColor 60%,
      transparent 60%,
      transparent 71.5%,
      currentColor 71.5%,
      currentColor 84%,
      transparent 84%
    );
  }
  .dark {
    --primary: #ff0000;
    --secondary: #f44336;
    --contrast-text: #ffffff;
    --background-default: #000000;
    --background-paper: #131313;
    --overlay-to-top: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --overlay-to-right: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --overlay-to-left: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); // for mobile menu
    --nav-hover: #ffffff1a;
    --bg-sidebar-menu: #35363a;
    // Circle Rate Progress
    --crp-circle1-color: #191919;
    --crp-color: #04fc43;
    // Linear Progress
    --lp-bg-image: linear-gradient(
      to right,
      transparent 50%,
      currentColor 50%,
      currentColor 60%,
      transparent 60%,
      transparent 71.5%,
      currentColor 71.5%,
      currentColor 84%,
      transparent 84%
    );
  }
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  // TODO: set bg-skin-default instead of AppComponent
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button,
input,
textarea,
[tabIndex] {
  outline: none;
  border: none;
}

// Component
@layer components {
  // MainSection: body: Header + MainContent/MainPage(&:> Hero + MainSection)
  .main-section {
    @apply mx-auto w-full max-w-[1366px] p-4;
  }

  // NavigationSwiper
  .navigation-swiper {
    .swiper-slide {
      @apply w-full pb-12 opacity-60; // pb to show swiper-pagination (dots...)
      &.swiper-slide-active {
        @apply opacity-100;
      }
    }
    .swiper-pagination-bullet {
      // Dot in pagination, can click
      @apply bg-skin-contrast;
    }
    .swiper-button-next,
    .swiper-button-prev {
      @apply text-skin-contrast;
      &::after {
        @apply text-base lg:text-3xl;
      }
    }
    .swiper {
      @apply h-max w-full px-4 lg:px-16; // px to show button-next/prev outer slider
    }
  }

  // AutoSwiper: for responsive, multiple slidePerView
  .auto-swiper {
    .swiper-slide {
      @apply w-1/2 sm:w-[35%] lg:w-1/4 xl:w-[20.5%];
    }
  }

  // typoLines
  .typoLines {
    --lines: 3; // default, re-assign after .typoLines
    --align: justify; // default
    // TODO: arbitrary type for text-align
    @apply overflow-hidden [-webkit-box-orient:vertical] [-webkit-line-clamp:var(--lines)] [display:-webkit-box] [text-align:var(--align)];
  }

  // Linear Progress Bar
  .linear-progress {
    @apply h-1 w-full appearance-none bg-red-500/60 text-xl text-skin-primary;
    &::-webkit-progress-bar {
      @apply bg-transparent; // must add to show bg-skin-color
    }
    // Determinate
    &::-webkit-progress-value {
      @apply bg-current transition duration-200;
    }
    // Indeterminate
    &:indeterminate {
      @apply animate-linearProgress bg-linearProgress bg-[200%_100%];
    }
  }

  // Background-Image for backdrop/poster
  .backdrop-poster {
    --backdrop-poster: url('/src/assets/images/hero-poster.jpg'); // default if don't pass url to style, can set error url instead of an correct image
    @apply relative bg-gray-400 bg-backdropPoster bg-cover bg-top bg-no-repeat; // need other bg-image (gray-400) if url passed is wrong
  }

  // Load More Button
  .load-more {
    @apply relative z-10 overflow-hidden border border-solid border-skin-primary bg-transparent px-5 py-2 font-semibold uppercase text-skin-primary transition-all duration-500 hover:text-white hover:before:h-[300%];
    &::before {
      @apply absolute left-1/2 top-1/2 z-[-1] h-0 w-full -translate-x-1/2 -translate-y-1/2 rotate-45 bg-skin-primary transition-all duration-300 ease-[cubic-bezier(0.24,0.89,0.68,-0.37)] content-[''];
    }
  }

  // Mobile Menu
  .mobile-menu {
    @apply absolute left-full top-0 h-screen w-[40vw] min-w-[250px] bg-black/50 transition-all duration-300 [&.active]:-translate-x-full;
    .hamburger {
      @apply absolute right-full top-3 flex h-[40px] w-[40px] cursor-pointer flex-col items-center justify-center md:hidden;
      .hamburger-line {
        // 3 & 4 in center (absolute to seam one element), 1 & 2 translate-y +- 8px => Delay from active to non-active 1 & 4 delay = 3 & 4 duration
        @apply absolute h-[3px] w-[25px] rounded bg-skin-contrast transition-all duration-200 first:-translate-y-2 last:translate-y-2 [&:nth-child(1)]:delay-200 [&:nth-child(4)]:delay-200; // must absolute to same one element in flexbox (overlay each other) -> instead of one hamburger-line + ::before & ::after
      }
      &.active {
        .hamburger-line {
          // 1 & 4 is to center and opacity-0, 2 & 3 (still in center) rotate +- 45 => Delay from non-active to active 2 & 3 delay = duration 1 & 4 and 1 & 4 delay = 0
          @apply transition-all duration-200 first:translate-y-0 first:opacity-0 last:translate-y-0 last:opacity-0 [&:nth-child(1)]:delay-0 [&:nth-child(2)]:rotate-45 [&:nth-child(2)]:delay-200 [&:nth-child(3)]:-rotate-45 [&:nth-child(3)]:delay-200 [&:nth-child(4)]:delay-0;
        }
      }
    }
  }
}
