@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // Default: light
    --primary: #ff0000;
    --secondary: #f44336;
    --contrast-text: #000000;
    --background-default: #f5f5f5; // for body (body tag or App component)
    --background-paper: #ffffff; // for header, footer, ...
    --overlay-to-top: linear-gradient(to top, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
    --overlay-to-right: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
    --nav-hover: #0000001a;
    // Circle Rate Progress
    --crp-circle1-color: #19191926;
    --crp-color: #04fc43;
    // Linear Progress
    --lp-bg-image: linear-gradient(
      to right,
      transparent 50%,
      currentColor 50%,
      currentColor 60%,
      transparent 60%,
      transparent 71.5%,
      currentColor 71.5%,
      currentColor 84%,
      transparent 84%
    );
  }
  .dark {
    --primary: #ff0000;
    --secondary: #f44336;
    --contrast-text: #ffffff;
    --background-default: #000000;
    --background-paper: #131313;
    --overlay-to-top: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --overlay-to-right: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --nav-hover: #ffffff1a;
    // Circle Rate Progress
    --crp-circle1-color: #191919;
    --crp-color: #04fc43;
    // Linear Progress
    --lp-bg-image: linear-gradient(
      to right,
      transparent 50%,
      currentColor 50%,
      currentColor 60%,
      transparent 60%,
      transparent 71.5%,
      currentColor 71.5%,
      currentColor 84%,
      transparent 84%
    );
  }
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  // TODO: set bg-skin-default instead of AppComponent
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button,
input,
textarea,
[tabIndex] {
  outline: none;
  border: none;
}

// Component
@layer components {
  // MainSection: body: Header + MainContent/MainPage(&:> Hero + MainSection)
  .main-section {
    @apply mx-auto w-full max-w-[1366px] p-4;
  }

  // NavigationSwiper
  .navigation-swiper {
    .swiper-slide {
      @apply w-full pb-12 opacity-60; // pb to show swiper-pagination (dots...)
      &.swiper-slide-active {
        @apply opacity-100;
      }
    }
    .swiper-pagination-bullet {
      // Dot in pagination, can click
      @apply bg-skin-contrast;
    }
    .swiper-button-next,
    .swiper-button-prev {
      @apply text-skin-contrast;
      &::after {
        @apply text-base lg:text-3xl;
      }
    }
    .swiper {
      @apply h-max w-full px-4 lg:px-16; // px to show button-next/prev outer slider
    }
  }

  // AutoSwiper: for responsive, multiple slidePerView
  .auto-swiper {
    .swiper-slide {
      @apply w-1/2 sm:w-[35%] lg:w-1/4 xl:w-[20.5%];
    }
  }

  // typoLines
  .typoLines {
    --lines: 3; // default, re-assign after .typoLines
    --align: justify; // default
    @apply overflow-hidden text-[var(--align)] [-webkit-box-orient:vertical] [-webkit-line-clamp:var(--lines)] [display:-webkit-box];
  }

  // Linear Progress Bar
  .linear-progress {
    @apply h-1 w-full appearance-none bg-red-500/60 text-xl text-skin-primary;
    &::-webkit-progress-bar {
      @apply bg-transparent; // must add to show bg-skin-color
    }
    // Determinate
    &::-webkit-progress-value {
      @apply bg-current transition duration-200;
    }
    // Indeterminate
    &:indeterminate {
      @apply animate-linearProgress bg-linearProgress bg-[200%_100%];
    }
  }

  // Background-Image for backdrop/poster
  .backdrop-poster {
    --backdrop-poster: url('/src/assets/images/hero-poster.jpg'); // default
    @apply bg-backdropPoster bg-cover bg-top bg-no-repeat;
    // bg-[url('/src/assets/images/hero-poster.jpg')]
  }
}
